.header-section {
    background-color: #16355a;
    padding: 10px 10px 10px 10px;
}

ion-toolbar{
    --background: #4974a8;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
  }
.center-avatar {
    display: block;
    margin: 0 auto;
}

.avatar-size {
    width: 100px;
    height: 100px;
}
